<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Patrício dos Santos <eu@patricio.me>">

    <title>ShareableEx! \o/</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav style="margin-top: 15px;">
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/sign_in">Sign in</a></li>
            <li role="presentation"><a href="/sign_up">Sign up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">
          <div style="float: left; margin-right: 5px;">
            <img src="/images/logo128.png" alt="ShareableEx" width="50">
          </div>
          <div style="float: left; line-height: 15px; margin-top: 10px;">
            Shareable<br>
            <em style="font-size: 15px">A new way to share ideas...</em>
          </div>
        </h3>
      </div>
    </div>

    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div><!-- //.container -->

    <footer>
      <div class="container">
        <hr>
        Powered by:
        <img src="/images/phoenix.png" alt="Phoenix Framework" width="150">
      </div><!-- // .container -->
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
